---
ip: '0.0.0.0'
port: 53
url: 'https://foreman.exmaple.com/'
username: 'admin'
password: 'password'
zone: 'foreman.customdns.com.'
cache-type: 'memory'
ttl: 1800
log-level: 'info'
log: '/var/log/foremandns.log'
redis:
     - server: 'localhost:6379'
     - password: ''
memcache:
     - server: '127.0.0.1:11211'
